.App {
  background-color: #c4c3b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c4c3b9;
}

.App-image {
  max-width: 100%;
  height: auto;
}

.App-button {
  background: transparent;
  border: none;
  color: #393830;
  margin-top: 20px;
  text-align: center;
  font-family: system-ui;
  font-weight: 600;
  cursor: pointer;
  font-size: inherit;
  padding: 0; /* Uklanja padding da ne pomera */
  display: block; /* Osigurava da je blok element za centriranje */
  margin-left: auto; /* Centriranje horizontalno */
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Dodato za bolje centriranje elemenata unutar header-a */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}